In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({
    'Group': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Value': [10, 20, 30, 40, 50, 60]
})

In [5]:
df

  Group  Value
0     A     10
1     A     20
2     B     30
3     B     40
4     C     50
5     C     60

In [15]:
df["Group_Mean"] = df.groupby("Group")["Value"].transform('mean')

In [13]:
df["Value"].groupby(df["Group"]).transform('mean')

Group
A    15.0
B    35.0
C    55.0
Name: Value, dtype: float64

In [16]:
df

  Group  Value  Group_Mean
0     A     10        15.0
1     A     20        15.0
2     B     30        35.0
3     B     40        35.0
4     C     50        55.0
5     C     60        55.0